header{
background-color: #6bd8ff; 
color: #ffffff;
text-align: center; 
padding: 20px;
text-shadow: 2px 2px 0px #666 ;

}

header nav a {
color: #ffffff;
margin: 0 10px;
font-weight: 600;
}


body {
background-color: #fdf6f0;
color: #333;
transition: background-color 0.3s, color 0.3s; 
}

.contact, .testimonials, .blog-post, .pets, .about, .faq, .home {
background-color: #e0f7fa;
padding: 20px;
border-radius: 10px;
}

.faq {
background-color: #f0fff0;
padding: 20px;
border-radius: 10px;
}

img { 
    width: 400px; 
     max-width: 100%; 
      height: auto; 
       border-radius: 15px; 
       display: block; 
       margin: auto 10px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
         transition: transform 0.3s ease; 
         } 
         
         img:hover  { 
 
             transform: scale(1.05);
             }

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}
 
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
 

main p,
main h2, 
main h3 {
    text-align: left;
}


.navbar .nav-link {
color: #faf9f8; 
font-weight: bold;
transition: color 0.3s ease;
}


.navbar .nav-link:hover {
color: #000000;
}




.navbar-brand {
    font-size: 1rem;
    font-weight: bold
}

h1, h2, h3, .hero h2, section h2, .card-title {
    font-size: 1.6rem;
    font-weight: 600;
}

p, .lead, .card-text {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    position: relative;
     height: 90vh; 
    background-image: url('images/cute kitten.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; 
}


form {
    max-width: 500px;
    margin: 0 auto ;
}

body.dark-mode { 

    background-color: #333333; 

    color: #f9f9f9; 

} 

body.dark-mode nav { background-color: #333333;
                     color: #f9f9f9
} 

body.dark-mode { background-color: #333333;}
#theme-toggle { padding: 8px 16px; cursor: pointer; margin: 10px; } 
